.dn{
  display: none;
}
.expanded-toolbar {
  justify-content: space-between;
  align-items: center;
}
mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  display: block;
}
::ng-deep {
  .mat-form-field .mat-form-field-outline{
    color: #c2185b;
  }
  .mat-form-field {
    .mat-hint, input, ::placeholder, .mat-form-field-label {
      color: #c2185b;
    }
  }
}
.mat-raised-button:disabled{
  color: white;
  background: #e5adc3;
}
