<div class="mat-elevation-z1 mat-card">
  <div class="">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="container">
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input matInput formControlName="title" type="text">
            </mat-form-field>
      <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea matInput
                    formControlName="text"
                    type="text"></textarea>
        </mat-form-field>
        <div class="">
          <input
            class="dn"
            (change)="onFileUpload($event)"
            type="file"
            #input>
          <button mat-raised-button color="primary"
                  (click)="triggerClick()"
                  type="button">
            <i class="material-icons left">backup</i>
            Download picture
          </button>
          <button mat-raised-button color="primary" type="submit">
            Post
          </button>
        </div>
      </div>
    </form>

    <div class="">
      <img class="responsive-img h200"
           [src]="imagePreview" *ngIf="imagePreview">
    </div>
  </div>
  </div>


