<mat-card class="card">
  <img mat-card-md-image src="{{post.imageSrc}}">
  <mat-card-header>
    <mat-card-title>{{ post.title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{post.text}}</p>
  </mat-card-content>
  <mat-card-footer>
    <small>Author :{{ post.author }}</small>
  </mat-card-footer>
  <mat-card-actions>
    <button [routerLink]="['/post', post._id] "
            mat-raised-button color="primary">Edit
    </button>
    <button (click)="onDelete(post._id)" mat-raised-button color="primary">Delete
    </button>
  </mat-card-actions>
</mat-card>
